/* blue color */
$blue_1: #191970;

/* green color */

$green_1: #80C804;

/* white color */

$white_1: #fff;
$white_2: #F9F9F9;

/* fonts size */

$font_11: 11px;
$font_12: 12px;
$font_14: 14px;
$font_16: 16px;
$font_18: 18px;
$font_20: 20px;
$font_22: 22px;
$font_24: 24px;
$font_26: 26px;
$font_30: 30px;
$font_32: 32px;
$font_36: 36px;
$font_40: 40px;
$font_42: 42px;
$font_44: 44px;
$font_46: 46px;
$font_50: 50px;
$font_55: 55px;

/* transition */

$transition: all .2s ease-in-out;

/* main padding */

$padding_50: 50px 0;
$padding_80: 80px 0;