@import "../../components/variables/Variables.scss";

.our_projects_wrapper {
  padding: $padding_80;
  .title_top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: $blue_1;
    h2 {
      text-transform: capitalize;
    }
    p {
      font-size: $font_14;
    }
  }

  .filter-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 50px 0 20px;
    gap: 50px;
    background-color: white;
    .unqe-catgery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 100%;
    }
    .btn-more {
      font-size: 14px;
      border: none;
      color: $blue_1;
      text-transform: capitalize;
      padding: 5px 15px;
      transition: $transition;
      background-color: transparent;
      font-weight: 600;
      width: 100%;
      position: relative;
      &::before {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #ddd;
        position: absolute;
        top: 0;
        right: 0;
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
    }
    .active {
      color: $green_1;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -20px;
        left: calc(50% - 15px);
        background-image: url('/images/arrow_down.svg');
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:60%;
      }
    }
  }

  .projects_container {
    padding-top: 50px;
    display: grid;
    align-items: center;
    gap: 16px;
    grid-template-columns: repeat(
      auto-fill,
      minmax(360px, 1fr)
    );
    justify-content: space-between;
    .parent_card {
      cursor: pointer;
      .card {
        position: relative;
        width: 360px;
        height: 360px;
        color: white;
        margin: auto;
        .temporary_image {
          font-weight: bold;
          font-size: 24px;
          color: #f8f8f8;
          width: 100%;
          height: 100%;
          .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .card_title {
          color: white;
          line-height: 1.7;
        }

        .card_subtitle {
          display: block;
          font-size: 12px;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .card_content {
          position: absolute;
          left: 0;
          top: 0;
          width: 42px;
          height: 42px;
          background-color: $blue_1;
          transition: all 0.25s ease-in-out;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          font-size: 0;
          gap: 30px;
          .link_to {
            color: $white_1;
            text-decoration: none;
          }
        }

        &:hover {

         .card_content {
          width: 100%;
          height: 100%;
          font-size: $font_26;
          padding: 30px;
          background-color: #191970e8;
        }
      }

        &:hover { 
          .card_description {
          opacity: 1;
          transition-delay: 0.25s;
          height: 100%;
        }
        &::before {
          display: block;
        }
      }
        &::before {
          content: '';
          position: absolute;
          width: 42px;
          height: 42px;
          background-color: $green_1;
          top: 0;
          left: 0;
          z-index: 99;
          display: none;
          transition: $transition;
        }
      }
    }
  }

  .show_more_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    a {
      font-size: $font_12;
      color: white;
      width: 200px;
      height: 35px;
      background-color: $green_1;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;
      &:hover {
        background-color: $blue_1;
      }
    }
    svg {
      font-size: $font_30;
      color: $green_1;
    }
  }
}





// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
 .our_projects_wrapper {
  .title_top {
    text-align: center;
  }
  .filter-data {
    .unqe-catgery {
      flex-wrap: wrap;
    }
    .btn-more {
      width: 50%;
      padding: 15px 0;
    }
  }
  .projects_container {
    grid-template-columns: repeat(1, 1fr);
    .parent_card {
      width: 100%;
      .card {
        width: 100%;
      }
    }
  }
 }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  .our_projects_wrapper {
    .title_top {
      text-align: center;
    }
    .projects_container {
      grid-template-columns: repeat(2, 1fr);
      .parent_card {
        width: 100%;
        .card {
          width: 100%;
        }
      }
    }
   }
}



 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1500px) { 
    .our_projects_wrapper {
      .projects_container {
        grid-template-columns: repeat(
          auto-fill,
          minmax(calc((1296 / 3) - 16) + px, 1fr)
          
        );
        .parent_card {
          .card {
            width: calc((1296 / 3) - 16) + px;
            height: calc((1296 / 3) - 16) + px;
          }
        }
      }
    }
 }