// here rules and regulations


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter' !important;
    margin: 0;
  }
  
  a {
    text-decoration: none !important;
  }
  
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 500 !important;
  }

  h2 {
    font-weight: 500 !important;
  }
  
  p {
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* ::selection {
    background-color: $color_1;
    color: white;
  } */
  